.container{
    display: flex;
    align-items: center;
    flex-direction:column;
}

.intro__container{
    display:flex;
    text-align:center;
    flex-direction:column;
    gap:20px;
    margin-top: 10px;
}

.text-light{
    font-size: large;
    color:rgba(255,255,0.6);
}

.cv__download{
    margin-top:20px;
    
}
.skills__container{
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1%;
    flex-wrap: wrap;
}

.skills{
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color: #4db5ff;
    height: max-content;
    width:max-content;
    border-radius: 5%;
    font-weight:bold;
    color:antiquewhite;
    font-size: medium;
    margin-top:10px;

}

@media screen and (max-width:600px){
    .container {
        margin-top: 0;
        margin-bottom: 0;
    }
 
 }




